/* 진욱 */

/* 인영 */

/* 영현 */
footer {
  background-color: transparent;
}

.Information {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
  line-height: 250%;
  padding: 30px 30px;
  font-size: 14px;
}

.Information_Title {
  font-weight: 700;
  margin-bottom: 5px;
}

a {
  color: black;
  text-decoration-line: none;
}

a:hover {
  text-decoration-line: underline;
}

hr {
  background-color: lightgrey;
  opacity: 25%;
  width: 87%;
}

.Incorporation {
  font-size: 14.5px;
}

.bottominformation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 50px;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.logo {
  height: 20px;
  width: 225px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.language {
  text-decoration-line: underline;
  font-weight: 700;
  font-size: 15px;
  display: flex;
  flex-direction: row;
}

.language_type {
  margin-right: 10px;
  margin-left: 30px;
}

.currency {
  font-weight: 700;
  font-size: 15px;
  display: flex;
  flex-direction: row;
}

.currency__type {
  text-decoration-line: underline;
}
.currency_type {
  font-weight: 400;
  margin-right: 10px;
  text-decoration-line: none !important;
}
